@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::selection {
    @apply bg-teal-300 text-teal-100;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #C4B5D9 transparent;
  }

  .scroll {
    scrollbar-width: thin;
    scrollbar-color: #C4B5D9 transparent;
  }

  body {
    @apply max-w-[100vw] !overflow-x-hidden bg-teal-100 font-body text-teal-950 dark:bg-teal-950 dark:text-teal-100;
  }

  main,
  section,
  div {
    @apply !font-body;
  }

  .navlink,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-body font-semibold text-teal-950;
  }

  label,
  a,
  input,
  textarea,
  button,
  ul,
  li {
    @apply font-body font-normal;
  }

  p,
  span {
    @apply font-body font-light;
  }

  nav,
  footer,
  main {
    @apply relative z-10 px-4 py-8 sm:py-12 md:px-12 md:py-12 lg:py-16 xl:px-16 xl:py-24;
  }

  .filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  .filter-black {
    filter: brightness(0) saturate(100%) invert(10%) sepia(30%) saturate(1200%)
      hue-rotate(196deg) brightness(95%) contrast(95%);
  }

  .filter-dark {
    filter: brightness(0) saturate(100%) invert(12%) sepia(25%) saturate(2000%)
      hue-rotate(196deg) brightness(90%) contrast(95%);
  }

  .filter-primary {
    filter: brightness(0) saturate(100%) invert(75%) sepia(12%) saturate(600%)
      hue-rotate(220deg) brightness(95%) contrast(90%) blur(100px);
  }

  .transition-150 {
    @apply transition-all duration-150 ease-linear;
  }

  .transition-300 {
    @apply transition-all duration-300 ease-linear;
  }

  .transition-700 {
    @apply transition-all duration-700 ease-in-out;
  }

  .transition-1000 {
    @apply transition-all duration-1000;
  }

  .navlink {
    @apply origin-right rounded-full px-4 py-2.5 text-xs font-normal capitalize text-teal-950 transition-all duration-100 group-hover:bg-teal-200 group-hover:uppercase group-hover:tracking-widest group-hover:text-teal-950;
  }

  .sticky-navlink {
    @apply origin-right rounded-full px-3 py-1.5 text-xs font-normal capitalize text-teal-950 transition-all duration-100 group-hover:bg-teal-200 group-hover:uppercase group-hover:tracking-widest group-hover:text-teal-950 md:px-4 md:py-2.5;
  }

  .overlay {
    @apply pointer-events-none absolute inset-0 z-0 select-none bg-black/20;
  }

  .bg-teal-300 {
    @apply text-teal-100;
  }

  .bg-teal-300:hover {
    @apply bg-teal-800 text-teal-100 shadow-lg transition-all duration-300 ease-linear;
  }

  input:focus-visible,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:focus-visible,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:focus-visible,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @apply border-none outline-none transition-[background-color] delay-0 duration-[5000s] ease-in-out;
  }
}

.Toastify__toast {
  @apply w-[90%] !text-sm sm:w-full sm:!min-w-[28rem];
}

.no-scroll {
  overflow: hidden;
}
